<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="https://angular.io" class="navbar-brand">
    <img src="assets/imagenes/angular.png" width="30" height="30" class="d-inline-block align-top"/>
    Aplicación de cursos
  </a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/home" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">

    </li>
  </div>
  <div class="navbar-nav ml-auto" >
    <li class="nav-item">
      <a href="/register" class="nav-link">
        <span class="glyphicon glyphicon-user"></span> Registrarse
      </a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link">
        <span class="glyphicon glyphicon-log-in"></span> Iniciar sesión
      </a>
    </li>
  </div>

</nav>
<router-outlet></router-outlet>



